body {
  background-image: url(imgs/concrete_wall_3.png);
}
body, input {
  font-family: 'Raleway', sans-serif;
  color: #666;
  text-shadow: 0 1px 1px rgba( 255, 255, 255, 0.9);
}
h1 {
  text-align: center;
  font-size: 3em;
}
h1 span {
  font-weight: 400;
}
.login_window {
  display: grid;
  width: 40%;
  margin: auto;
  border-radius: 5px;
}

input {
  background-color: #f9f9f9;
  width: 100%;
  padding-left: .5em;
  border-left: none;
  font-size: .8em;
}
label {
  border: 2px inset;
  border-right: 1px solid;
  padding: 8px;
}
.username, .password {
  display: flex;
  vertical-align: middle;
  background-color: #f9f9f9;
  width: 95%;
  border: 10px solid #fff;
  font-size: 1.5em;
}
.username {
  border-bottom: none;
  border-radius: 5px 5px 0 0;
}
.password {
  border-radius: 0 0 5px 5px; 
}
