body {
  background-image: url(imgs/concrete_wall_3.png);
  font-family: 'Raleway', sans-serif;
  color: #666;
}
h1 {
  text-align: center;
}
.login_window {
  display: grid;
  width: 50%;
  margin: auto;
}
input {
  background-color: #f9f9f9;
  width: 100%;
  border: none;
  padding-left: .5em;
  font-size: .8em;
}
label {
  border-right: 1px inset #666;
  padding: 8px;
}
.username, .password {
  display: flex;
  vertical-align: middle;
  background-color: #f9f9f9;
  width: 100%;
  border: 10px solid #fff;
  font-size: 1.5em;
}
.username {
  border-bottom: none;
}
